<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>

    <uses-permission android:name="android.permission.VIBRATE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bull"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bull"
        android:supportsRtl="true"
        android:theme="@style/Theme.BangingBulls">
        <meta-data
            android:name="com.google.android.geo.1027840785835-rhi2osfheleg3iqglj80vdb1iragq4eu.apps.googleusercontent.com"
            android:value="1027840785835-rhi2osfheleg3iqglj80vdb1iragq4eu.apps.googleusercontent.com" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BangingBulls">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>